body {
  background-image: url("/soldierWithFleg-nobg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color:#f3efe7; 
  background-position: 80% 20%;
}

h1 {
  text-align: center;
}

.levels {
  text-align: center;
  padding-block: 20px;
}
.levels button{
  background-color:#8c7c6b ;
  border: 1px solid;
  border-radius: 4px;
  width: 120px;
}

.performence {
  text-align: center;
  padding-block: 10px;
  padding-inline: 10px;
  color: black;
  font-weight: 600;
  font-size: medium;
  background-color: rgb(92, 100, 95, 0.5);
  margin-block-end: 10px;
}
.performence p {
  display: inline;
  padding-inline-start:7px;
}

.lives{
  display: inline;
  padding-inline-end: 30px;

}

.hint {
  display: inline;
  padding-inline-start:30px;
}


table{
  margin: auto;
}
table, th, td {
  border: 1px solid;
}
td {
  width:40px;
  height: 40px;
  text-align: center;
}

.footer{
  font-weight: bold;
  text-align: center; 
  margin-block:20px;
  color: #5c645f;
}



